@import "tailwindcss";

@theme {
  --color-brand-cream: #FDF9E8;
  --color-brand-green: #1FD66D;
  --color-brand-blue: #1946FF;
  --color-brand-black: #000000;
  --font-serif: "Merriweather", serif;
  --font-sans: "Space Grotesk", sans-serif;
}

:root {
  font-family: var(--font-sans);
  background-color: var(--color-brand-cream);
  color: var(--color-brand-black);
  line-height: 1;
  font-weight: 400;

  /* Grid Pattern Background */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}